<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Snoop Dogg WordPress Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title class="custom-title">LOGO (Snoop Dogg: https://snoopdogg.com/)</ion-title>
  </ion-toolbar>
  
  <ion-img src="assets/icon/webpagelogo.jpg"></ion-img>

  <ion-toolbar>
    <ion-title class="custom-title">Noticia #1</ion-title>
  </ion-toolbar>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/noticia1.jpg" style="width: 200px; height: auto;" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">╠ SNOOP DOGG IS HONORED  ╣</ion-card-title>
      <ion-card-subtitle>(AT CITY OF HOPE’S 15TH ANNUAL SONGS OF HOPE)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lester Cohen/Getty Images

      La 15ª edición anual de Songs of Hope, un evento de recaudación de fondos para City of Hope que se llevó a cabo el 19 de septiembre en el complejo del productor Alex da Kid en Sherman Oaks, California, recaudó más de $400,000 para el centro de tratamiento del cáncer.
      
      Con la asistencia de más de 300 ejecutivos de la industria musical, la velada honró a los cantautores y compositores. Los ganadores de este año incluyeron a Boi-1da, mejor conocido por su trabajo con Drake, Rihanna y Kanye West, y la icónica compositora Diane Warren, quienes recibieron el Premio Clive Davis Legend in Songwriting por el homónimo del honor.
      
      La directora ejecutiva y presidenta de Universal Music Publishing Group, Jody Gerson, entregó a Tierra Whack el premio UMPG She is the Music. Zeina Grenier, de Facebook, le dio a Hayley Kiyoko el premio Facebook Songwriter Impact Award por la conexión que la joven artista ha desarrollado con sus fans a través de las redes sociales.
      
      También fue homenajeado el compositor Marc Shaiman por el ejecutivo mundial de música y presidente de música de Electronic Arts, Steve Schnur, quien contó una divertida historia sobre lo lejos que llegó para ganarse el respeto de un Shaiman inconsciente mientras los dos crecían juntos en Scotch Plains, Nueva Jersey. Después de recibir el premio al compositor del año de EA, Shaiman, compositor de películas y obras de teatro como Hairspray, Beaches y Broadcast News, cantó una parodia, "Print Master", con la melodía de "Goldfinger", sobre las muchas formas en que se baja el volumen de las partituras en las películas para efectos de sonido, diálogos e incluso canciones de artistas como Warren.
      
      
    </ion-card-content>
  </ion-card>



  <ion-toolbar>
    <ion-title class="custom-title">Noticia #2</ion-title>
  </ion-toolbar>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/noticia2.jpg" style="width: 200px; height: auto;" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">╠ SNOOP DOGG & BANDA MS  ╣</ion-card-title>
      <ion-card-subtitle>(TWO CULTURES, ONE STAGE)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este verano, Bobby Dee y Snoop Dogg presentan por primera vez en un solo escenario a Banda MS y Snoop Dogg. Dos culturas juntas, una unión.

Este evento es de una sola noche. Ambos artistas tienen un récord de haber agotado las entradas en todos los lugares a los que van, este espectáculo no será la excepción. Somos tan fuertes como estamos unidos, tan débiles como divididos. El amor por la música unirá a ambas culturas porque la música puede nombrar lo innombrable y comunicar lo incognoscible.

Muchos están esperando la colaboración de Snoops con Banda MS en su próxima canción. ¿Lo cantarán juntos esa noche? Tienes que venir al concierto y verlo por ti mismo.
      
    </ion-card-content>
  </ion-card>



  <ion-toolbar>
    <ion-title class="custom-title">Noticia #3</ion-title>
  </ion-toolbar>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/icon/noticia3.jpg" style="width: 200px; height: auto;" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">╠ Ice Cube, E-40, Snoop Dogg and other hip-hop heroes ╣</ion-card-title>
      <ion-card-subtitle>(ICE CUBE, E-40, SNOOP DOGG HELP CELEBRATE SAP CENTER 25 FESTIVAL WEEKEND)</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este maratónico espectáculo de Kings of the West, que comenzó alrededor de las 6:30 p.m. y seguía funcionando con fuerza cuando el reloj pasó la medianoche, fue parte del fin de semana del Festival SAP Center 25, una celebración de tres días del aniversario del lugar. Ice Cube fue definitivamente un punto culminante, mostrando la misma cantidad de carisma y talento mientras repasaba tanto los favoritos de toda la vida como el material más nuevo.

"¿Están listos para bajar con su homeboy Ice Cube?", preguntó a la multitud.

Los fans respondieron afirmativamente, una y otra vez, mientras rugían su aprobación por clásicos como "Check Yo Self" y, por supuesto, "It Was a Good Day".


      
    </ion-card-content>
  </ion-card>

</ion-content>
